@import "tailwindcss";

@theme {
  --font-syncopate: var(--font-syncopate), sans-serif;
  --font-manrope: var(--font-manrope), sans-serif;

  --color-vm-dark: #050505;
  --color-vm-black: #0a0a0a;
  --color-vm-red: #ff1e00;
  --color-vm-silver: #e0e0e0;
  --color-vm-steel: #8a8a8a;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= 64rem) {
    max-width: 80rem;
  }
}

@layer base {
  :root {
    --background: #050505;
    --foreground: #e0e0e0;
  }
  
  html, body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased font-manrope selection:bg-vm-red selection:text-white;
    cursor: none; /* Hide default cursor for custom GSAP cursor */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-syncopate uppercase tracking-wider font-bold;
  }
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
